.reveal .slides {
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0;
}

/* Timed fragment styles */
.timed-fragment {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.timed-fragment.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}

.subtitles-container {
    opacity: 1;
    visibility: visible;
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 0;
}

.subtitles {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
    font-size: 1.0em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.subtitles.visible {
    opacity: 1;
}

.audio-button {
   opacity: 1;
   margin-left: 30px;
   visibility: visible;
   color: white; 
   border: 2px solid white; 
   border-radius: 50%; 
   width: 50px; 
   height: 50px; 
   font-size: 20px; 
   cursor: pointer; 
   display: flex; 
   align-items: center; 
   justify-content: center;
}

