<!DOCTYPE html>
<html>

    <head>
        <!-- APP CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">

        <!-- QUASAR PRODUCTION CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/quasar.prod.css')}}">

        <!-- FONTS CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">

        <!-- KATEX CSS-JS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/katex.min.css')}}">
        <script src="{{ url_for('static', filename='js/katex.min.js') }}"></script>

        <!-- PERSPECTIVE -->
        <link href="https://cdn.jsdelivr.net/npm/@perspective-dev/server/dist/wasm/perspective-server.wasm" as="fetch" type="application/wasm" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/@perspective-dev/viewer/dist/wasm/perspective-viewer.wasm" as="fetch" type="application/wasm" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/superstore-arrow/superstore.lz4.arrow" as="fetch" type="arraybuffer" crossorigin="anonymous" />
        <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/@perspective-dev/viewer/dist/css/themes.css" />

        <title>APP</title>
    </head>

    <body>


        {% block content %}{% endblock %}

        <!-- VUE JS PRODUCTION -->
        <script type="text/javascript" src="{{url_for('static', filename='js/vue.global.prod.js')}}"></script>

        <!-- QUASAR JS PRODUCTION -->
        <script type="text/javascript" src="{{url_for('static', filename='js/quasar.umd.prod.js')}}"></script>

        <!-- VUE APP JS -->
        <script type="module" src="{{url_for('static', filename='js/vue_assets/vue_app.js')}}"></script>
        
        <!-- ACE JS -->
        <script src="{{url_for('static', filename='ace_builds/src/ace.js')}}" type="text/javascript" charset="utf-8"></script>
        <script src="{{url_for('static', filename='ace_builds/src/keybinding-vim.js')}}" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
